# General git settings file - should be included like the following in ~/.gitconfig
# [include]
#    path = dotfiles/git/.gitconfig

[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
[diff]
    tool = kdiff3
[difftool]
    prompt = false
[difftool "kdiff3"]
    trustExitCode = false
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    trustExitCode = false
[mergetool]
    keepBackup = false
[push]
    default = current
[branch]
    sort = -committerdate
