# General git settings file - should be included like the following in ~/.gitconfig
# [include]
#    path = dotfiles/git/.gitconfig

[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld --auto-merge "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[mergetool]
    keepBackup = false
[push]
    default = current
[column]
    ui = auto
[branch]
    sort = -committerdate
